<body>
  <div class="mainy">
    <img class="oneImg" src="../../../assets/logo.png" alt="" routerLink="/" />
    <div class="controlBar">
      <!-- <div>
        <button *ngIf="!isLoggedIn()">
          <img src="../../../assets/heart.png" alt="" />
          <h2 class="username">Welcome{{ username }}</h2>
        </button>
      </div> -->
      <div>
        <button class="loggedInPic" *ngIf="isLoggedIn()" (click)="openLogin()">
          <img class="human" src="../../../assets/customer_ico.png" alt="" />
        </button>
      </div>
      <div>
        <button
          class="loggedOutPic"
          *ngIf="!isLoggedIn()"
          (click)="logout()"
          routerLink="/"
        >
          <img class="human" src="../../../assets/customerin_ico.png" alt="" />
        </button>
      </div>
      ​
      <div class="yourstuff" *ngIf="isLoggedIn()">
        <button class="yourstuffPic" (click)="openCart()">
          <img src="../../../assets/bag_ico.png" alt="" />
        </button>
      </div>
      <div class="yourstuff" *ngIf="!isLoggedIn()">
        <button class="yourstuffPic" (click)="openCart()">
          <img src="../../../assets/fullbag_ico.png" alt="" />
        </button>
      </div>
      ​
    </div>
  </div>
</body>
