.mainy {
  z-index: 1;
  position: fixed;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 80px;
  background-image: url("../../../assets/bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.oneImg {
  border: 0px;
  text-decoration: none;
  width: 80px;
  height: 80px;
  top: 4px;
  left: 5px;
  outline: none;
  background: none;
}
.controlBar {
  margin-top: -70px;
  height: 80px;
}
.yourstuffPic {
  float: right;
  text-align: center;
  overflow: hidden;
  text-decoration: none;
  font-size: 35px;
  margin-top: 5px;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  width: 40px;
  height: 40px;
  border: none;
  background-image: url("../../../assets/bag_ico.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.loggedInPic {
  float: right;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: transparent;
  padding: 0;
  margin-left: 20px;
  margin-right: 2vw;
  width: 50px;
  height: 50px;
  border: none;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
​ button.loggedOutPic {
  float: right;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  background-image: url("../../../assets/customerin_ico.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
​ .usernamePic {
  float: right;
  text-align: center;
  text-decoration: none;
  font-size: 35px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  width: 50px;
  height: 50px;
  border: none;
  background-image: url("../../../assets/heart.png") no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
