<div class="mainy">
  <img
    src="../../../assets/Telenor_logo-880x660.png"
    alt="logo"
    routerLink="/"
  />

  <div *ngIf="!isLoggedIn()">
    <h2 class="username">Welcome {{ username }}</h2>
  </div>

  <div class="yourstuff" *ngIf="isLoggedIn()">
    <button mat-raised-button (click)="openCart()">
      <img src="" alt="" />
    </button>
  </div>
  <div>
    <button mat-raised-button *ngIf="isLoggedIn()" (click)="openLogin()">
      Login drop
    </button>
  </div>
  <button
    mat-raised-button
    *ngIf="!isLoggedIn()"
    (click)="logout()"
    routerLink="/"
  >
    Logout
  </button>
</div>
