<div class="main-container">
    <div *ngIf="items.length">
        <div class="items" *ngFor="let item of items">
            <ul>
                <li>
                    <h3>ID: {{ item.id }}</h3>
                </li>
                <li>
                    <h3>Name: {{ item.name }}</h3>
                </li>
                <li>
                    <h3>Brand: {{ item.brand }}</h3>
                </li>
            </ul>
        </div>
    </div>
    <p *ngIf="!items.length">There aren't any items yet</p>
</div>