<form action="POST" class="formo" [formGroup]="form">
  <mat-form-field>
    <input
      type="text"
      matInput
      placeholder="Your Username*"
      formControlName="username"
      autocomplete="off"
    />
    <mat-error *ngIf="hasError('username', 'required')"
      >Username is required.</mat-error
    >
  </mat-form-field>
  <mat-form-field>
    <input
      type="email"
      matInput
      placeholder="Your Email*"
      formControlName="email"
      autocomplete="off"
    />
    <mat-error *ngIf="hasError('email', 'required')"
      >Email is required.</mat-error
    >
  </mat-form-field>
  <mat-form-field>
    <input
      type="password"
      matInput
      placeholder="Your Password*"
      formControlName="password"
    />
    <mat-error *ngIf="hasError('password', 'required')"
      >Password is required.</mat-error
    >
  </mat-form-field>
  <button
    type="button"
    mat-raised-button
    [disabled]="form.invalid"
    (click)="submitData()"
  >
    Sign Up
  </button>
</form>
