<div class="main">
    <mat-card>
        <mat-card-content>
            <h2 class="brand">Brand</h2>
            <section *ngFor="let brand of brands">
                <mat-checkbox (change)="onChange(brand)">{{brand}} </mat-checkbox>
            </section>
            <h2 class="colour">Colour</h2>
            <section *ngFor="let colour of colours">
                <mat-checkbox (change)="onChange(colour)">{{colour}}</mat-checkbox>
            </section>
            <h2 class="platform">Operation System</h2>
            <section *ngFor="let platform of platforms ">
                <mat-checkbox (change)="onChange(platform)">{{platform}}</mat-checkbox>
            </section>
            <h2 class="capacity">Memory size</h2>
            <section *ngFor="let capacity of capacities ">
                <mat-checkbox (change)="onChange(capacity)">{{capacity}}</mat-checkbox>
            </section>
            <h2 class="sim">Sim slots </h2>
            <section>
                <mat-checkbox (change)="onChange(true)">DualSim</mat-checkbox>
                <mat-checkbox (change)="onChange(true)">Single Sim</mat-checkbox>
            </section>
        </mat-card-content>
    </mat-card>
</div>